#container {
    display: flex;
    flex-direction: column;
}

.row {
    display:flex;
}

.gridSquare {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

.active {
    background-color: black;
}