body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Courier New", "Monaco", sans-serif;
    /*background-color: #8B4513;*/
    background-color: lightblue;
}

#container {
    display: flex;
    gap: 50px;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: #F5DEB3;
    border-radius: 50px;
}

#gridContainer {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
}

.row {
    display:flex;
    flex-grow: 1;
}

.gridSquare {
    flex-grow: 1; 
    border: 1px solid black;
}

#gridSizeContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    align-self: center;
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    padding: 10px 16px;
}

/* Dribble */
.button{
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover
{
  background-color: #F082AC;
}

#input {
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 12px;
}

#input:focus {
        border-color: #9147ff;
        background: #fff;
    }
